<section class="user_information">

  <div class="staticsection">
    <div class="component_info">
      <%= react_component 'O_User_info', user: @user %>
    </div>
  </div>

  <div class="saved">
    <div class="frame">
      <%= image_tag "userflvrsl.svg" %>
      <h2>Ваши подборки</h2>
      <%= image_tag "userflvrsr.svg" %>
    </div>
    <div class="sets">
      <div class="savedall">
        <%= link_to 'Избранное', saved_path %>
      </div>
      <div class="add">
        <div class="addbutton"></div>
      </div>
    </div>
  </div>



</section>
