<section class="saved">
  <div class="saved_posts">
    <h1>Избранное</h1>
    <p>В этой подборке вы найдете все свои любимые сказки</p>
  </div>
  <div class="saved_tales">
    <%= react_component 'O_Allbooks', posts: @posts %>
  </div>
</section>
