<section class="postbody">

  <div class="editpost">
    <div class="back">
      <%= link_to 'Назад', post_path %>
    </div>
    <div class="postform">
      <%= render 'form', post: @post %>
    </div>
  </div>

</section>
