<section class="skazka">
  <h3>Здесь вы найдете все сказки и подборки, <br>которые доступны на данный момент</h3>

  <div class="change_set">
    <button class="talesb" type="button" name="button"><%= link_to 'Сказки', posts_path %></button>
    <button class="taless" type="button" name="button"><a href="404">Подборки</a>
  </div>
  <div class="filter">
    <p class="sortby">Фильтровать по:</p>
    <p>Народ</p>
    <p>Регион</p>
    <p>Возрастной рейтинг</p>
  </div>

  <div class="library_tales">
    <%= react_component 'O_Allbooks', posts: @posts %>
  </div>
   <div class="infifniteload">
     <%= image_tag "infifniteload.svg" %>
   </div>
</section>
