<section class="postbody">
  <div class="newpost">
    <div class="back">
      <%= link_to 'Назад', posts_path %>
    </div>
    <div class="postform">
      <%= render 'form', post: @post %>
    </div>
  </div>

</section>
