$red: #CD4223;
$black: #000;
$white: #ECE1CF;
$left-margin: 4.167vw 0 0 4.167vw;
// $left-margin: здесь заданы верхний и левый отступ 60px

$margin: 4.167vw;
// $left-margin: здесь задан отступ со всех сторон 60px


body {
  font-family: 'Proxima Nova';
}
