
$black: #000;
$left-margin: 4.167vw 0 0 4.167vw;
$margin: 4.167vw;

body{
  background: #F1F1F1;
  font-family: 'Proxima Nova';
}

.postssection{
  display: flex;
  flex-direction: row;
  height: auto;
  .content_for_all{
    width: 80.764vw;
    .head_button, .postsection{
      width: 73.750vw;
      margin-left: 3.472vw;
    }
    .head_button{
      display: flex;
      flex-direction: row;
      margin-top: 9vw;
      justify-content: space-between;
      .search{
        form{
          margin: 0;
          width: 26.847vw;
          height: 2.381vw;
          background: #fff;
          input[type="text"]{
            outline-width: 0;
            outline: none;
            appearance: none;
            -webkit-appearance: none;
            -webkit-writing-mode: none ;
            color: transparent;
            border-color: none;
            background: transparent;
            border: none;
            font-size: 1.190vw;
            font-weight: 400;
            color: #444;
            padding-left: .8vw;
          }
          input[type="submit"]{
            width: 1.7vw;
            height: 1.7vw;
            background: {
               image: asset_url("search.svg");
            }
            background-size: 100%;
            margin-top: .3vw;
            margin-right: 1vw;
          }
        }
      }
      .link_newpost{
        width: 8.594vw;
        height: 2.381vw;
        background: $black;
        border-radius: 6.944vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        a{
          color: white;
          font-size: 1.190vw;
          font-weight: 600;
          height: 1.190vw;
          margin-top: 0.417vw;
        }
      }
    }
    .postsection{
      margin-top: 2.292vw;
      .list_head{
        display: flex;
        flex-direction: row;
        width: 73.750vw;
        height: auto;
        background: #ddd;
        border-radius: 0.417vw;
        margin-bottom: 2.222vw;
        div{
           width: calc(100% / 5);
          p{
            font-size: 1.111vw;
            line-height: 1.319vw;
            font-weight: 600;
            padding: 1.181vw 2.917vw;
            margin: 0;
          }
        }
      }
      .list_body{
        display: flex;
        flex-direction: row;
        width: 73.750vw;
        height: auto;
        background: #fff;
        border-radius: 0.417vw;
        margin-bottom: 1.042vw;
        transition: .5s;
        div {
          width: calc(100% / 5);
        }
        .name_s, .nation_s, .author_s, .date_s, .likes, .comments_a, .linksinside {
          padding: 2.639vw 2.917vw;
          display: inline-block;
          text-align: left;
        }
        .date_s{
          color: #aaa;
        }
      }
    }
  }
}
