/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub admin
 */
 body{
   min-height: 100vh;
 }
 *:focus {
          outline: none;
        }

@font-face {
   font-family: 'ProximaNova';
   src: url('ProximaNova-Bold.woff') format("webopenfontformat");

}
@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova-Regular.woff') format("webopenfontformat");

}
@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova-Light.woff') format("webopenfontformat");
}
@font-face {
  font-family: '20Kopeek-bold';
  src: url('20Kopeek-DemiBold.otf');
}
@font-face {
  font-family: '20Kopeek-book';
  src: url('20Kopeek-Book.otf');
}
@font-face {
  font-family: 'Craftwork-Grotesk';
  src: url('CraftworkGrotesk-Medium.ttf');
}
@font-face {
  font-family: '21Cent';
  src: url('21Cent.ttf');
}

/* header component styles */
.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.5vw;
  background: #101010;
  position: fixed;
  z-index: 100;
  top: 0;
}
.left_links, .right_links{
  margin: 0 1.6vw;
}
.left_links a, .right_links a{
  margin: 0 1.4vw;
}

.logo {
  width: 10.4vw;
  height: 1.4vw;
  background-image: url("logo.svg");
  background-size: 100%;
  background-position: center;
  margin-left: 3.33vw;
}
.logo a{
  width: 10.4vw;
  height: 1.4vw;
  display: block;
  position: relative;
}
.logo > a > .eyeball{
  width: 7.778vw;
  height: 1.4vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 1.17vw;
}
.logo > a > .eyeball > .eye{
  width: 2.083vw;
  height: 1.389vw;
  display: inline-block;
  position: relative;
}
.logo > a > .eyeball > .eye > .puppils{
  width: 0.417vw;
  height: 1.389vw;
  position: relative;
  display: inline-block;
  top: auto;
  left: auto;
  background: #101010;
  border-radius: 50%;
}
.top_menu a {
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 90%;
  color: #ECE1CF;
  text-decoration: none;
}
.right_links{
  display: flex;
  flex-direction: row;
}
.search, .user{
  margin: 0 1.38vw;
}
.search > a, .user > a{
  margin: 0;
  width: 1.38vw;
  height: 1.38vw;
  display: block;
  position: relative;
}
.search{
  width: 1.45vw;
  height: 1.45vw;
  background-image: url("search.svg");
  background-size: 100%;
  background-position: center;
}
.search_component{
  margin-left: -20.417vw;
  /* transition: .2s; */
}
.transition{
  opacity: 0;
  transition-duration: 0.5s
}

.hidden{
  display: none;
  transition-duration: 0.5s
}
.searchfield{
    margin: 0;
    width: 49.097vw;
    height: 3.472vw;
    background: #ECE1CF;
    border-radius: 5.5vw;
    display: flex;
}

.searchfield > input{
  width: 43.056vw;
  height: 3.472vw;
  margin: 0;
  border-radius: 5.5vw;
  background: none;
  border: none;
  padding-left: 1.7vw;
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 1.111vw;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #101010;
  opacity: 0.5;
}
.searchfield > .actions_sbcr{
  padding: 0;
  width: 8.333vw;
  height: 3.472vw;
  border-radius: 5.5vw;
  background: #101010;
  border: solid 1px #ECE1CF;
  box-sizing: border-box;
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 90%;
  color: #ECE1CF;
  cursor: pointer;
}
.user{
  width: 1.04vw;
  height: 1.45vw;
  background-image: url("user.svg");
  background-size: 100%;
  background-position: center;
}
.blackscreen{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  z-index: 6;
  background: #101010;
  opacity: 0.6;
  /* transition: .5s; */
}

/* footer component styles */
.footer{
  width: 100%;
  display: flex;
  justify-content: center;
}
.img_container_footer{
  margin-bottom: 3.47vw;
}
.img_container_footer img{
  width: 89vw;
}
.full_f{
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.lisence, .contacts{
  margin: 1.04vw auto;
}
.lisence > a, .contacts > a{
  text-decoration: none;
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 90%;
  color: #ECE1CF;
  padding: 1.04vw 2.7vw;
}
.allrights{
  font-family: Proxima Nova;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ECE1CF;
  opacity: 0.5;
  margin-top: 2.08vw;
  margin-bottom: 3.47vw;
}
.allrights > p{
  margin: 0;
}

/* fucking tales and their shitty styleset */
.tale{
  display: inline-block;
  margin-right: 2.083vw;
}
.bookcover{
  position: relative;
  display: inline-block;
  width: 20.833vw;
  height: 27.778vw;
  margin-bottom: 1.389vw;
}

.tale > a > .bookcover > img{
    width: 20.833vw;
    border-radius: 0.278vw;
    display: inline-block;
    position: relative;

}
.bookcover:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(left, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 0.5%,rgba(0,0,0,.05) 2.5%,rgba(0,0,0,.1) 2.7%,rgba(255,255,255,.1) 3%,rgba(255,255,255,0) 8%,rgba(255,255,255,0) 95%,rgba(255,255,255,.1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 0.5%,rgba(0,0,0,.05) 2.5%,rgba(0,0,0,.1) 2.7%,rgba(255,255,255,.1) 3%,rgba(255,255,255,0) 8%,rgba(255,255,255,0) 95%,rgba(255,255,255,.1) 100%);
  border-top: 0.5px solid rgba(255,255,255,.4);
  border-right: 0.5px solid rgba(0,0,0,.1);
  border-bottom: 0.5px solid rgba(0,0,0,.15);
  border-left: 0.5px solid rgba(255,255,255,.2);
  -webkit-box-shadow: inset 0.139vw 0 0.208vw 0.208vw rgba(255,255,255,.1);
  box-shadow: inset 0.139vw 0 0.208vw 0.208vw rgba(255,255,255,.1);
}
.tale > a >  .booktitle{
    width: 20.833vw;
    align-items: center;
}
.tale > a > .booktitle > h3{
  font-family: '21 Cent';
  font-style: normal;
  font-weight: 400;
  font-size: 2.083vw;
  line-height: 90%;
  color: #ECE1CF;
  text-align: center;
  margin-bottom: 0.417vw;
  margin-top: .8vw;
}
.tale > a > .booktitle > h4{
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 1.111vw;
  line-height: 90%;
  color: #ECE1CF;
  text-align: center;
  text-decoration: underline dotted #ECE1CF;
  margin-top: 0.8vw;
}
.booksblock > div{
  display: flex;
}
.firstblock{
  width: 89.583vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.944vw;
}
.secondblock{
  width: 89.583vw;
  display: flex;
  justify-content: left;
  margin-bottom: 6.944vw;
}

/* animations */

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes rotateback {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-360deg); }
}
@keyframes rotateback {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@keyframes lfleft {
  30% { transform: rotate(4deg); }
  70% { transform: rotate(-4deg); }
}
@keyframes lfright {
  30% { transform: rotate(4deg); }
  70% { transform: rotate(-4deg); }
}

@keyframes rotate1 {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotate2 {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(8deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotateright {
  20% { transform: rotate(6deg); }
  60% { transform: rotate(-6deg); }
}

@keyframes rotateleft {
  20% { transform: rotate(-6deg); }
  60% { transform: rotate(6deg); }
}
@keyframes shake1 {
  10%, 90% {
    transform: rotate(-3deg);
  }
  20%, 80% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(-5deg);
  }
  40%, 60% {
    transform: rotate(-2deg);
  }
}

@keyframes shake2 {
  10%, 90% {
    transform: rotate(3deg);
  }
  20%, 80% {
    transform: rotate(4deg);
  }
  30%, 50%, 70% {
    transform: rotate(5deg);

  }
  40%, 60% {
    transform: rotate(2deg);
  }
}

@keyframes moveleft1 {
  0% {transform: translate(0px);}
  30% {transform: translate(11px);}
  100% {transform: translate(0px);}
}
@keyframes moveleft2 {
  0% {transform: translate(0px);}
  50% {transform: translate(11px);}
  100% {transform: translate(0px);}
}
@keyframes moveleft3 {
  0% {transform: translate(0px);}
  60% {transform: translate(11px);}
  100% {transform: translate(0px);}
}

@keyframes moveright1 {
  0% {transform: translate(0px);}
  30% {transform: translate(-11px);}
  100% {transform: translate(0px);}
}
@keyframes moveright2 {
  0% {transform: translate(0px);}
  50% {transform: translate(-11px);}
  100% {transform: translate(0px);}
}
@keyframes moveright3 {
  0% {transform: translate(0px);}
  60% {transform: translate(-11px);}
  100% {transform: translate(0px);}
}
