/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub admin
 */
@font-face {
   font-family: 'ProximaNova';
   src: url('ProximaNova-Bold.woff') format("webopenfontformat");

}
@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova-Regular.woff') format("webopenfontformat");

}
@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova-Light.woff') format("webopenfontformat");

}
.top_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 4.167vw;
  background: #000;
  color: #fff;
  font-size: 1.059vw;
  font-weight: 600;
  position: fixed;
  z-index: 100;
  top: 0;
}
.top_menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 3.472vw;
  font-size: 1.059vw;
  font-weight: 600;
}

/* apppers ony if user logged in as an admin */
.admin_panel{
  width: 19.236vw;
  height: auto;
  background: #fff;
}
.all_links{
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 8.681vw;
  margin-left: 1.736vw;
}
.all_links a{
  font-size: 1.528vw;
  font-weight: 600;
  margin-bottom: 2.292vw;
  padding-left: 1.736vw;
}
.chosen{
  width: 15.694vw;
  height: 2.778vw;
  background: #E5E5E5;
  border-radius: 0.417vw;
  margin-bottom: 1.875vw;
}
.chosen a{
  line-height: 2.778vw;
}
