// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wholemap{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10.417vw;
  p{
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 120.84%;
    text-align: center;
    color: #ECE1CF;
  }
  .mapimg{
    margin-bottom: 8.819vw;
    width: 89.583vw;
    height: 46.250vw;
    background-size: 100%;
    background-position: center;
    background:{
      image: asset_url("map.svg");
    }
  }
  .mapimg:hover{
    cursor: pointer;
    background:{
      image: asset_url("map2.svg");
    }
    transition: .5s;
  }
  .allregions{
    h3{
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 600;
      font-size: 1.389vw;
      line-height: 89.84%;
      color: #ECE1CF;
      text-align: center;
      margin-bottom: 2.778vw;
    }
    .list{
      display: flex;
      width: 42.708vw;
      justify-content: space-between;
      margin-bottom: 5.556vw;
      .list1, .list2, .list3{
        p{
          cursor: pointer;
          text-align: left;
          font-family: 'Proxima Nova';
          font-weight: 400;
          font-size: 1.250vw;
          line-height: 120.84%;
          color: #ECE1CF;
          margin-bottom: 1.389vw;
        }
      }
    }
  }
}
