

$black: #000;
$margin: 4.167vw;

body{
  background: #F1F1F1;
  font-family: 'Proxima Nova';
}

// styles for post viewing
.postbody
{
  display: flex;
  flex-direction: row;
  height: auto;
  .visible{
    width: 73.75vw;
    margin-left: 3.472vw;
    margin-top: 9vw;
      .postlinks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .buttons{
          display: flex;
          flex-direction: row;
        }
        .edition{
          width: 11vw;
          height: 2.381vw;
          border-radius: 2.679vw;
          background: $black;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-left: 1.488vw;
          a{
            margin-top: 0.417vw;
            font-size: 1.190vw;
            font-weight: 600;
            color: #fff;
            text-decoration: none;
          }
        }
        .back{
          width: 6vw;
          height: 2.381vw;
          border-radius: 2.679vw;
          background: $black;
          display: flex;
          flex-direction: row;
          justify-content: center;
          a{
            margin-top: 0.417vw;
            font-size: 1.190vw;
            font-weight: 600;
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .allcontent{
        margin-top: $margin;
        .name{
          font-size: 3.810vw;
          font-weight: 700;
          margin-bottom: 0;
        }
        .title{
          font-size: 1.071vw;
          font-weight: 600;
          color: grey;
          margin-top: 0;
        }
        .skazka{
          width: 60vw;
          height: auto;
          margin-top: 2.679vw;
          font-size: 1.190vw;
          font-weight: 400;
        }
      }
      .favs{
        background: none;
        width: 45px;
        height: 45px;
        margin-left: 1vw;;
      }
        form{
          width: 45px;
          height: 45px;
          margin-left: 0;
          background: none;
          background: {
             image: asset_url("bookmark-plus.svg");
          }
          background-size: 100%;
          color: #fff;
          border: none;
          cursor: pointer;
          border-radius: 0;
          input[type="submit"]{
            width: 45px;
            height: 45px;
            margin: 0;
            padding: 0;
          }
        }
  }
}

// styles for editing/creating post
.newpost, .editpost{
  height: 100vw;
  width: 73.75vw;
  margin-left: 3.472vw;
  margin-top: 9vw;
  .back{
    width: 6vw;
    height: 2.381vw;
    border-radius: 2.679vw;
    background: $black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    a{
      margin-top: 0.417vw;
      font-size: 1.190vw;
      font-weight: 600;
      color: #fff;
      text-decoration: none;
    }
  }
}

// styles for editing/creating post form
.newpost, .editpost{
  .postform{
    margin-top: 2.778vw;
    form{
      display: flex;
      flex-direction: column;
      background: none;
      margin: 0;
      .information{
        display: flex;
        flex-direction: row;
      }
      .one_1, .two_2{
        display: flex;
        flex-direction: column;
        .field{
          margin-bottom: 1.736vw;
          display: flex;
          flex-direction: column;
          input[type="text"]{
            width: 29.167vw;
            height: 2.778vw;
            border-radius: 0.347vw;
            border: none;
            padding: 0 1.042vw;
            font-size: 1.111vw;
          }
          label{
            font-size: 1.111vw;
            margin-bottom: 0.694vw;
            color: #555;
          }
        }
      }
      .content{
        label{
          font-size: 1.111vw;
          color: #555;
        }
        textarea{
          margin-top: 0.694vw;
          height: 21.528vw;
          width: 61.111vw;
          border-radius: 0.347vw;
          border: none;
        }
      }
      .actions{
        input[type="submit"]{
          width: auto;
          height: 2.381vw;
          border-radius: 2.679vw;
          background: $black;
          display: flex;
          flex-direction: row;
          justify-content: center;
          font-size: 1.190vw;
          font-weight: 600;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
