//skazka page
.maintale{
  display: flex;
  justify-content: center;
  margin-bottom: 4.167vw;
  .skazka_container{
    width: 62.500vw;
    margin-top: 23.611vw; //пока не разберусь с бэкграундом
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      font-family: '21 Cent';
      font-weight: 400;
      font-size: 4.861vw;
      line-height: 89.84%;
      text-align: center;
      color: #ECE1CF;
      width: 48.611vw;
      margin-bottom: 0.694vw;
    }
    h3{
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 400;
      font-size: 1.389vw;
      line-height: 89.84%;
      color: #ECE1CF;

    }
    p{
      font-family: '21 Cent';
      font-style: normal;
      font-weight: 400;
      font-size: 1.389vw;
      line-height: 140%;
      color: #ECE1CF;
    }
  }
}

//library page
.skazka{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 14.583vw;
  h3{
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 120%;
    color: #ECE1CF;
    margin: 0 1.38vw;
    text-align: center;
    margin-bottom: 4.167vw;
  }
  .change_set{
    width: 20vw;
    height: 3.194vw;
    background: #ECE1CF;
    border-radius: 6.042vw;
    margin-bottom: 6.944vw;
    .talesb{
      font-family: 'Proxima Nova';
      height: 100%;
      width: 9vw;
      background: #101010;
      border-radius: 6.042vw;
      outline: none;
      color: #ECE1CF;
      margin: 0;
      text-decoration: none;
      border: 1px solid #ECE1CF;
      font-weight: 400;
      font-size: 1.389vw;
      line-height: 89.84%;
    }
    .taless{
      font-family: 'Proxima Nova';
      height: 100%;
      width: 9vw;
      background: transparent;
      color: #101010;
      margin: 0;
      text-decoration: none;;
      font-weight: 400;
      font-size: 1.389vw;
      line-height: 89.84%;
      border: none;
    }
  }
  .filter{
    display: flex;
    width: 40.278vw;
    justify-content: space-between;
    margin-bottom: 4.167vw;
    .sortby{
      font-weight: 600;
    }
    p, .sortby{
      font-family: 'Proxima Nova';
      font-size: 1.250vw;
      line-height: 89.84%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ECE1CF;
    }
  }
  .infifniteload{
    margin-bottom: 6.944vw;
    img{
      width: 4.167vw;
      height: 4.167vw;
      -webkit-animation: rotate 2.2s linear infinite;
      animation: rotate 2.2s linear infinite;
    }
  }
}

// the tale itself
.taleitself{
  .postarch{
    background: {
      image: asset_url("arch.svg");
    }
    background-size: 105%;
    background-position: top;
    top: 6.5vw;
    width: 100%;
    height: 85vh;
    position: absolute;
    z-index: 2;
  }
  .content{
    position: relative;
    z-index: 3;
  }

}
