// Place all the styles related to the Userview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  background: #101010;
}
.fullpage{
  .bckgr{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: -29vw;
    left: -58.5vw;
    align-items: baseline;
    .left, .right{
      img{
        width: 110.481vw;
      }
    }
    .bckgrflvrs{
      .bacgrleafs{
        width: 160.528vw;
        display: flex;
        position: absolute;
        justify-content: space-around;
        z-index: 4;
        top: 7vw;
        .leftleaf{
          animation: lfleft 6s infinite;
        }
        .rightleaf{
          animation: lfright 6s infinite;
        }
      }
      width: 126.528vw;
      display: flex;
      position: absolute;
      justify-content: space-around;
      z-index: 3;
      top: 25vw;
      .rightflvr, .leftflvr{
        img{
          width: 45.889vw;
        }
      }
    }
    .rightflvr{
      animation: rotateright 10s infinite;
    }
    .leftflvr{
      animation: rotateleft 10s infinite;
    }
    .left{
      animation: rotate1 8s infinite;
    }
    .right{
      margin-top: 4vw;
      animation: rotate2 8s infinite;
    }
  }
  .mainbody{
    position: relative;
    z-index: 3;
    .taleoftheday{
      margin-top: 6.5vw;
      width: 100%;
      height: 85vh;
      background: {
         image: asset_url("arch.svg");
      }
      background-size: 105%;
      background-position: top;
    }
    .taleoftheday{
      margin-bottom: 6.944vw;
      .headname{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6.944vw;
        .frame{
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 10.4vw;
          margin-bottom: 2.778vw;
          .flvrs img{
            height: 1.8vw;
          }
          h3{
            font-family: Proxima Nova;
            font-weight: 600;
            font-size: 2.5vw;
            line-height: 90%;
            color: #ECE1CF;
            margin: 0 1.38vw;
          }
        }
        .title{
          align-items: center;
          display: flex;
          flex-direction: column;
          h1{
            font-family: '21 Cent';
            font-weight: 400;
            font-size: 4.861vw;
            line-height: 89.84%;
            color: #ECE1CF;
            margin: 0;
            text-align: center;
          }
          p{
            font-family: 'Proxima Nova';
            font-weight: 400;
            font-size: 1.111vw;
            line-height: 90%;
            color: #ECE1CF;
            text-align: center;
            text-decoration: underline dotted #ECE1CF;
            margin-top: 0.556vw;
          }
          img{
            width: 70vw;
            margin-bottom: 2.778vw;
            display: block;
          }
          a{
            border: 1px solid #ECE1CF;
            box-sizing: border-box;
            border-radius: 6.042vw;
            padding: 0.972vw 2.153vw;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 1.389vw;
            line-height: 89.84%;
            text-align: center;
            color: #ECE1CF;
          }
        }
      }
    }
    .popular_tales{
      .frame{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 6.944vw;
        .flvrs img{
          height: 1.8vw;
        }
        h3{
          font-family: Proxima Nova;
          font-weight: 600;
          font-size: 2.5vw;
          line-height: 90%;
          color: #ECE1CF;
          margin: 0 1.38vw;
        }
      }
      .populartales{
        width: 89.583vw;
        margin-left: 5.208vw;
        margin-bottom: 13.889vw;
        .booksblock{
          height: auto;
          width: 89.583vw;
          overflow: hidden;
        }
        .slider, .slidel{
          cursor: pointer;
          display: inline-block;
          position: absolute;
          z-index: 3;
          top: 20vw;
          img{
            width: 6vw;
          }
        }
        .slider{
          left: 2.35vw;
          filter: drop-shadow(0.278vw 0.278vw 1.042vw rgba(0, 0, 0, 0.3));
        }
        .slidel{
          right: 1.8vw;
          filter: drop-shadow(0.278vw 0.278vw 1.042vw rgba(0, 0, 0, 0.3));
        }
      }
    }
    .map{
      display: flex;
      flex-direction: column;
      align-items: center;
      .frame{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 6.944vw;
        .flvrs img{
          height: 1.875vw;
        }
        h3{
          font-family: Proxima Nova;
          font-weight: 600;
          font-size: 2.5vw;
          line-height: 90%;
          color: #ECE1CF;
          margin: 0 1.38vw;
        }
      }
      p{
        width: 28vw;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 120.84%;
        text-align: center;
        color: #ECE1CF;
        margin-bottom: 6.944vw;
      }
      .regs{
        width: 100%;
        .t, .a, .ch, .bb, .ya {
          display: inline-block;
        }
        .uno{
          display: flex;
          .t{
            margin-left: 18.056vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18vw;
            height: 19.1vw;
            background: {
              image: asset_url("tatt.svg");
            }
            background-position: center;
            background-size: 100%;
            img{
              width: 18.1vw;
              position: absolute;
              opacity: 0;
              transition: .1s;
            }
            img:hover{
              opacity: 1;
              transition: .1s;
            }
            p{
              z-index: 10;
              margin-top: 6.5vw;
              font-family: 'Proxima Nova';
              font-style: normal;
              font-weight: 600;
              font-size: 1.667vw;
              line-height: 124%;
              text-align: center;
              color: #ECE1CF;

            }
          }
          .a{
            margin-left: 5.056vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16vw;
            height: 16vw;
            background: {
              image: asset_url("agg.svg");
            }
            background-position: center;
            background-size: 100%;
            img{
              width: 16vw;
              position: absolute;
              opacity: 0;
              transition: .1s;
            }
            img:hover{
              opacity: 1;
              transition: .1s;
            }
            p{
              z-index: 10;
              margin-top: 6.5vw;
              font-family: 'Proxima Nova';
              font-style: normal;
              font-weight: 600;
              font-size: 1.667vw;
              line-height: 124%;
              text-align: center;
              color: #ECE1CF;
            }
          }
          .ya{
            margin-top: 5vw;
            margin-left: 5.056vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20vw;
            height: 20.2vw;
            background: {
              image: asset_url("yak.svg");
            }
            background-position: center;
            background-size: 100%;
            img{
              width: 20vw;
              position: absolute;
              opacity: 0;
              transition: .1s;
            }
            img:hover{
              opacity: 1;
              transition: .1s;
            }
            p{
              z-index: 10;
              margin-top: 6.5vw;
              font-family: 'Proxima Nova';
              font-style: normal;
              font-weight: 600;
              font-size: 1.667vw;
              line-height: 124%;
              text-align: center;
              color: #ECE1CF;

            }
          }
        }
        .dos{
          margin-top: -3vw;
          display: flex;
          margin-bottom: 6.944vw;
          .ch{
            margin-left: 23.056vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18vw;
            height: 14.6vw;
            background: {
              image: asset_url("ch.svg");
            }
            background-position: center;
            background-size: 100%;
            img{
              width: 18vw;
              position: absolute;
              opacity: 0;
              transition: .1s;
            }
            img:hover{
              opacity: 1;
              transition: .1s;
            }
            p{
              z-index: 10;
              margin-top: 6.5vw;
              font-family: 'Proxima Nova';
              font-style: normal;
              font-weight: 600;
              font-size: 1.667vw;
              line-height: 124%;
              text-align: center;
              color: #ECE1CF;

            }
          }
          .bb{
            margin-left: 5.056vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16vw;
            height: 8vw;
            background: {
              image: asset_url("bbb.svg");
            }
            background-position: center;
            background-size: 100%;
            img{
              width: 16vw;
              position: absolute;
              opacity: 0;
              transition: .1s;
            }
            img:hover{
              opacity: 1;
              transition: .1s;
            }
            p{
              margin-top: 7vw;
              font-family: 'Proxima Nova';
              font-style: normal;
              font-weight: 600;
              font-size: 1.667vw;
              line-height: 124%;
              text-align: center;
              color: #ECE1CF;
              z-index: 10;
            }
          }
        }
      }
      .mapimg:hover{
        cursor: pointer;
        background:{
          image: asset_url("map2.svg");
        }
        transition: .5s;
      }
    }
    .region_tales{
      .frame{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 6.944vw;
        .flvrs img{
          height: 1.8vw;
        }
        h3{
          font-family: Proxima Nova;
          font-weight: 600;
          font-size: 2.5vw;
          line-height: 90%;
          color: #ECE1CF;
          margin: 0 1.38vw;
        }
      }
      .sliderset, .slidelset{
        cursor: pointer;
        display: inline-block;
        position: absolute;
        z-index: 3;
        top: 20vw;
        img{
          width: 6vw;
        }
      }
      .sliderset{
        left: 2.35vw;
        filter: drop-shadow(0.278vw 0.278vw 1.042vw rgba(0, 0, 0, 0.3));
      }
      .slidelset{
        right: 1.8vw;
        filter: drop-shadow(0.278vw 0.278vw 1.042vw rgba(0, 0, 0, 0.3));
      }
      .tsets{
        height: 27.778vw;
        overflow: hidden; transition: .5s;
        .set{
          border-radius: 3px;
          display: flex;
          flex-direction: row;
          position: relative;
          margin-left: 5.208vw;
          width: 89.583vw;
          height: 27.778vw;
          overflow: hidden;
          .spin{
            .circle1{
              display: inline-block;
              position: absolute;
              left: 28vw;
              top: -23vw;
              img{
                width: 72.917vw;
              }
              -webkit-animation: rotate 17s linear infinite;
              animation: rotate 17s linear infinite;
            }
            .circle2{
              display: inline-block;
              position: absolute;
              left: 43vw;
              top: -14vw;
              img{
                width: 55.556vw;
              }
              -webkit-animation: rotateback 11s linear infinite;
              animation: rotateback 11s linear infinite;
            }
            .eyeball{
              width: 9.028vw;
              height: 6.944vw;
              position: absolute;
              top: 11.5vw;
              left: 67vw;
              .eye{
                width: 6.944vw;
                height: 4.861vw;
                border-radius: 50%;
                background: #ECE1CF;
                overflow: hidden;
                .puppil{
                  position: relative;
                  width: 1.389vw;
                  height: 4.514vw;
                  border-radius: 50%;
                  left: auto;
                  top: auto;
                }
              }
            }
          }
          .descr{
            height: 100%;
            padding: 2.431vw 3.819vw;
            display: inline-block;
            h1{
              margin-left: 0;
              font-family: '21 Cent';
              font-style: italic;
              font-weight: 400;
              font-size: 4.028vw;
              line-height: 90%;
              color: #ECE1CF;
              margin-top: 0;
              margin-bottom: 1.042vw;
            }
            p{
              width: 18vw;
              font-family: 'Proxima Nova';
              font-weight: 400;
              font-size: 1.250vw;
              line-height: 120%;
              color: #ECE1CF;
            }
            a{
                position: absolute;
                bottom: 2.431vw;
                width: 8.9vw;
                height: 3.194vw;
                border: 1px solid #ECE1CF;
                box-sizing: border-box;
                border-radius: 6.042vw;
                background: transparent;
                padding: 0.972vw 2.153vw;
                font-family: 'Proxima Nova';
                font-weight: 400;
                font-size: 1.389vw;
                line-height: 90%;
                color: #ECE1CF;
            }
          }
        }
      }
    }
    .searchblock{
      display: flex;
      justify-content: center;
      margin: 6.94vw 0;
      .frame{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 89.5vw;
        height: 35.7vw;
        border: solid 1px #ECE1CF;
        .ornament1, .ornament2{
          margin: 1.736vw;
          img{
            width: 11.45vw;
          }
          .eyeball{
            width: 4.861vw;
            height: 4.028vw;
            position: absolute;
            left: 4vw;
            .eye_1, .eye_2{
              width: 2.778vw;
              height: 1.944vw;
              border-radius: 50%;
              background: #ECE1CF;
              position: absolute;
              .puppil_s{
                position: relative;
                width: 0.694vw;
                height: 1.8vw;
                border-radius: 50%;
                background: #101010;
                left: auto;
                top: auto;
                z-index: 20;
              }
            }
            .eye_1{
              top: -5.5vw;
              left: 2.8vw;
              transform: rotate(-38deg);
            }
            .eye_2{
              top: -5.5vw;
              right: 2.8vw;
              transform: rotate(38deg);
            }
          }
        }
        .ornament1{
          animation: shake1 8s cubic-bezier(.36,.07,.19,.97) both infinite;
        }
        .ornament2{
          animation: shake2 8s cubic-bezier(.36,.07,.19,.97) both infinite;
        }
        .srch{
          display: flex;
          flex-direction: column;
          text-align: center;
          h3{
            font-family: Proxima Nova;
            font-weight: 600;
            font-size: 2.5vw;
            line-height: 90%;
            color: #ECE1CF;
            margin-top: 8.3vw;
            margin-bottom: 0.694vw;
          }
          p{
            width: 25.69vw;
            font-family: Proxima Nova;
            font-weight: 300;
            font-size: 1.25vw;
            line-height: 120%;
            color: #ECE1CF;
            margin: 0.694vw auto;
            opacity: 0.5;
            margin-bottom: 6.944vw;
          }
        }
      }
    }
    .interesting_tales{
      .frame{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 6.944vw;
        .flvrs img{
          height: 1.8vw;
        }
        h3{
          font-family: Proxima Nova;
          font-weight: 600;
          font-size: 2.5vw;
          line-height: 90%;
          color: #ECE1CF;
          margin: 0 1.38vw;
        }
      }
      .maybeinteresting{
        margin-left: 5.208vw;
        margin-bottom: 13.889vw;
        .booksblock{
          height: auto;
          width: 89.583vw;
          overflow: hidden;
        }
        .slider, .slidel{
          cursor: pointer;
          display: inline-block;
          position: absolute;
          z-index: 3;
          top: 20vw;
          img{
            width: 6vw;
          }
        }
        .slider{
          left: 2.35vw;
          filter: drop-shadow(0.278vw 0.278vw 1.042vw rgba(0, 0, 0, 0.3));
        }
        .slidel{
          right: 1.8vw;
          filter: drop-shadow(0.278vw 0.278vw 1.042vw rgba(0, 0, 0, 0.3));
        }
      }
    }
    .subscribtion{
      display: flex;
      justify-content: center;
      margin: 6.94vw 0;
      .frame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 89.5vw;
        height: 35.7vw;
        border: solid 1px #ECE1CF;
        .ornament1, .ornament2{
          margin: 2.4vw 0;
          img{
            width: 13.7vw;
          }
          .orn1, .orn2{
            position: absolute;
            top: 3.75vw;
            img{
              width: 13.7vw;
            }
            .cntr1, .cntr2{
              position: absolute;
              top: 7.35vw;
              img{
                width: 7.917vw;
              }
            }
            .cntr1{
              left: 6.8vw;
              animation: moveleft3 9s infinite;
            }
            .cntr2{
              right: 6.8vw;
              animation: moveright3 9s infinite;
            }
          }
          .orn1{
            left: 3.6vw;
            animation: moveleft2 9s infinite;
          }
          .orn2{
            right: 3.6vw;
            animation: moveright2 9s infinite;
          }
        }
        .ornament1{
          animation: moveleft1 11s infinite;
        }
        .ornament2{
          animation: moveright1 11s infinite;
        }
        .subscr{
          display: flex;
          flex-direction: column;
          text-align: center;
          h3{
            font-family: Proxima Nova;
            font-weight: 600;
            font-size: 2.5vw;
            line-height: 90%;
            color: #ECE1CF;
            margin-top: 8.3vw;
            margin-bottom: 0.694vw;
          }
          p{
            width: 25.69vw;
            font-family: Proxima Nova;
            font-weight: 400;
            font-size: 1.25vw;
            line-height: 120%;
            color: #ECE1CF;
            margin: 0.694vw auto;
          }
          .email{
            margin: 3.472vw 0;
            width: 35.416vw;
            height: 3.472vw;
            background: #ECE1CF;
            border-radius: 5.5vw;
            input{
              width: 23.9vw;
              height: 3.472vw;
              border-radius: 5.5vw;
              background: none;
              border: none;
              padding-left: 1.7vw;
              font-family: Proxima Nova;
              font-weight: 400;
              font-size: 1.25vw;
              line-height: 90%;
              color: #101010;
              opacity: .8;
            }
            .actions_sbcr{
              padding: 0;
              width: 11.45vw;
              height: 3.45vw;
              border-radius: 5.5vw;
              background: #101010;
              border: solid 1px #ECE1CF;
              box-sizing: border-box;
              font-family: Proxima Nova;
              font-weight: 600;
              font-size: 1.25vw;
              line-height: 90%;
              color: #ECE1CF;
              cursor: pointer;
            }
          }
          .s_networks{
            img{
              cursor: pointer;
              width: 5vw;
            }
          }
        }
      }
    }
  }

}
