<section class="wholemap">
  <p>Выберите любой регион на карте и найдите сказки, <br>населяющих его народов</p>
  <div class="mapimg"></div>
  <div class="allregions">
    <h3>Список регионов</h3>
    <div class="list">
      <div class="list1">
        <p>Республика Башкортостан</p>
        <p>Удмуртская Республика</p>
      </div>
      <div class="list2">
        <p>Якутия</p>
        <p>Татарстан</p>
      </div>
      <div class="list3">
        <p>Чувашская Республика</p>
        <p>Республика Бурятия</p>
      </div>
    </div>
  </div>
</section>
